.coffee {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/coffee-1.jpeg');
}

.library {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/library.jpeg');
}

.nature {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/nature1.jpeg');
}
