.new__task__fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    row-gap: 2px;
    margin: 10px;
}

.new__task__fields__label {
    font-size: medium;
}


.invalid__form__input {
    background-color:rgb(215, 199, 202);
}

.submit__button {
    background-color:rgb(103, 138, 171);
    font-size: small;
    font-weight: bold;
    color: rgb(248, 246, 246);
    top: 50%;
    right: 0;
    /* width: 80px; */
    border-width: 1px;
    border-color: rgb(1, 1, 2);
    /* height: auto; */
    /* height: 100%; */
    /* transform: translateY(-50%); */
    /* padding: 0.85em 2.25em 0.85em 1em; */
    /* border-bottom-left-radius: 455px 455px;
    border-bottom-right-radius: 455px 455px;
    border-top-left-radius: 455px 455px;
    border-top-right-radius: 455px 455px; */
    font-size: 120%;
    color: rgb(225, 220, 215);
    font: Verdana;
    margin: 2;
}
