/* body {
    display: flex;
    height: 100vh;
    font-family: "Space Grotesk",sans-serif;
    font-weight: 600;
    color: #fff;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    --foreground-color: #fff;
} */


.timer{
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 200%;
    font-weight: bold;
    font-family: ui-serif;
    /* background-image: url(public/img/coffee-1.jpeg); */
    align-self: center;
    /* background-color: #fff; */
    /* background-image: none;
    background-position: 0 90%;*/
    background-repeat: repeat no-repeat;
    /* background-size: 4px 3px;  */
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(79, 121, 77, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 100px;
    line-height: 250px;
    outline: none;
    padding: 100px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    /* border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* #root {
    height: 100%;
} */

.pomodoro {
    font-size: 6em;
    margin-top: 50px;
    
}

.message {
    font-size: 0.6em;
    min-height: 1.3em;
    margin-bottom: 0.5em;
}


#coffee {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/coffee-1.jpeg');
    color: #dcd6c9;
    
}

#library {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/library.jpeg');
    color: #dcd6c9;
}

#nature {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/nature-1.jpeg');
    color: #dcd6c9;
}