/* body {
    display: flex;
    height: 100vh;
    font-family: "Space Grotesk",sans-serif;
    font-weight: 600;
    color: #fff;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    --foreground-color: #fff;
} */


.timer{
    margin: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 80%;
    font-weight: bold;
    font-family: ui-serif;
    /* background-image: url(public/img/coffee-1.jpeg); */
    align-self: center;
    /* background-color: #fff; */
    /* background-image: none;
    background-position: 0 90%;*/
    background-repeat: repeat no-repeat;
    background-size: 600px 500px; 
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(79, 121, 77, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #c3cbb6;
    /* display: inline-block; */
    font-family: Neucha, sans-serif;
    font-size: 100px;
    line-height: 300%;
    outline: none;
    padding: 100px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    /* border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px; */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* #root {
    height: 100%;
} */

.pomodoro {
    font-size: 6em;
    margin-top: 50px;
    
}

.message {
    font-size: 0.6em;
    min-height: 1.3em;
    margin-bottom: 0.5em;
}


#coffee {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/coffee-1.jpeg');
    color: #dcd6c9;
    
}

#library {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/library.jpeg');
    color: #dcd6c9;
    background-size: 500px 500px; 
}

#nature {
    background-image: url('/Users/cristal/Developer/capstone-fe/public/img/nature1.jpeg');
    color: #dcd6c9;
}
#none {
    color: #41403e;
}

/* #none {
    
    background-color: rgb(205, 203, 187);
} */

.start-button {
    align-self: center;
    background-color: #0c0c0a;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #080807;
    box-shadow: rgba(1, 2, 1, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #eee9e6;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .80rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;

}

.start-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.start-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.pause-button {
    align-self: center;
    background-color: #080708;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #080807;
    box-shadow: rgba(1, 2, 1, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #fffdfb;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .80rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
    
}

.pause-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}


.pause-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.reset-button {
    align-self: center;
    background-color: #090b08;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #080807;
    box-shadow: rgba(1, 2, 1, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #fffffe;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .80rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.reset-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.reset-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.top-buttons {
    align-self: center;
    background-color: #bfcab3;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #080807;
    box-shadow: rgba(1, 2, 1, 0.2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #080706;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .80rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}

.pomo-timer-button {
    align-self: center;
    background-color:#E5E4CC;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #080807;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
}

.short-break-button {
    align-self: center;
    background-color:#E5E4CC;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #080807;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
}

.long-break-button {
    align-self: center;
    background-color:#E5E4CC;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #080807;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
}


.pomo-timer-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.short-break-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.long-break-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.pomo-timer-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.short-break-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.long-break-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}