.App {
  text-align:center;
  /* background-color:rgb(241, 241, 213); */
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1px;
  column-gap: 2em;
  background-color: #48433a;
  /* background-image: linear-gradient(79deg, #182011, #cad5bc 48%, #c3d6e2, rgb(143, 159, 193)); */
}


.Task-container {
  /* background-image: none; */
  background-color: #889E81;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(79, 121, 77, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #060605;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  padding-top: .10rem; 
  text-decoration: none;
  transition: all 235ms ease-in-out;
  /* border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 80px;
  margin-right: 70px;
}

.tasks__list.no-bullet {
  align-self: center;
  padding: .15rem;
}



#title {
  border-color: #4e4e49;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(79, 121, 77, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  /* cursor:; */
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  outline: none;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  margin-left: 10px;
}
#submitTaskButton {
  /* display:flex;
  flex-direction:row; */
  background-color: rgb(205, 225, 156);
  border-color: #3e3e38;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(16, 19, 16, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #080807;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: .90rem;
  outline: none;
  height: 24px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 3px;
  justify-content: center;
}

.back-buttons {
  align-self: center;
  background-color: #889E81;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #080807;
  box-shadow: rgba(1, 2, 1, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #080706;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 130px;
}

.coffee {
  align-self: center;
  background-color:#E5E4CC;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #080807;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: verdana;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.coffee:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.coffee:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.library {
  align-self: center;
  background-color: #E5E4CC;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #080807;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: verdana;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}
.library:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.library:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.nature {
  align-self: center;
  background-color: #E5E4CC;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #080807;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: verdana;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.nature:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.nature:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.none{
  align-self: center;
  background-color: #E5E4CC;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: verdana;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.none:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.none:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.app-name {
  background-color: rgb(69, 93, 69);
  /* background-image: linear-gradient(79deg, #dae5b7, #a7b7bd 50%); */
  /* background-position: 0 90%; */
  background-repeat: repeat no-repeat;
  /* background-size: 4px 3px; */
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-style:double;
  border-color: #332810;
  padding: 30px;
  margin-left: 80px;
  margin-right: 50px;
  margin-bottom: 20px;
  font-family:verdana;
  color:#d0d9b5;
}

#signInButton {
  align-self: center;
  background-color: #7bda72;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #070a07;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 30px;
}

#signInButton:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#signInButton:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}